# Environment variables
.env
.env.local
.env.*.local
*.env

# Dependencies
node_modules/

# Production builds
dist/
build/

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

# Editor & OS metadata
.vscode/
.idea/
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Temporary files
*.tmp
*.temp